{% extends "layout.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">This is a Dashboard</h1>
        <p class="lead">{{params["about"]}}</p>
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}